
.container-fluid-OPTIONAL {
  margin-top: -125px;
}

.card {
  width: 100%;
  height: 500px;
}

img {
  margin: 0 auto;
  padding: 15px;
  width: 280px;
  height: 350px;
}


@media (min-width: 1800px) {
  .container-fluid-OPTIONAL {
    margin-top: -125px;
  }

  .card {
    height: 550px;
  }

  img {
    width: 75%;
    height: 400px;
  }
}


@media (max-width: 1300px) {
  .container-fluid-OPTIONAL {
    margin-top: -75px;
  }

  .card {
    height: 500px;
  }

  img {
    width: 80%;
    height: 300px;
  }
}
