<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
          <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
               class="mr-3 rounded-circle img-thumbnail shadow-sm">
          <div class="media-body">
            <h4 class="m-0"></h4>
            <p class="font-weight-light text-muted mb-0">Administrator</p>
          </div>
        </div>
      </div>

      <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Type</p>

      <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
          <a href="#" class="nav-link text-dark font-italic bg-light">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            book
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 container-all-book">
      <div class="row">
        <div class="col-md-4 container-Book" >
          <mdb-card class="my-1">
            <img class="img-book" src="../../assets/images/cover/1.jpg"/>
            <mdb-card-body>
              <p><b>PRICE: $</b></p>
              <p>pubblication date: </p>
              <p>ISBN(Code):</p>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>

