#carouselExampleControls, carousel-inner {
  height: 500px;
  width: 100%;
  padding: 10px;
}

.card {
  width: 19%;
  height: 450px;
  display: inline-block;
  padding: 15px;
  margin: 0.5%;
}

img {
  width: 75%;
  height: 75%;
  margin: 0 auto;
}

.btnInfo {
  align: center;
}

button {
  align-content:center;
}

.carousel-control-prev, carousel-control-next {
  width: 150px;
}

.carousel-control-prev:hover {
  background-image: linear-gradient(to left, transparent, white);
  margin: 4px 4px 4px 0;
  border-left: 3px solid lightgray;
}

.carousel-control-next:hover {
  background-image: linear-gradient(to right, transparent, white);
  margin: 4px 0 4px 4px;
  border-right: 3px solid lightgray;
}



