<div class="container-form-login">
  <form #loginAdmin="ngForm" (ngSubmit)="onSubmit(loginAdmin.value)">
    <div class="form-row section-input">
      <div class="col-md-12">
        <label for="validationDefault01">USERNAME:</label>
        <input type="text" name="username" class="form-control" id="validationDefault01" placeholder="Insert username"
               ngModel required>
      </div>
    </div>
    <div class="form-row section-input">
      <div class="col-md-12">
        <label for="validationDefault02">PASSWORD:</label>
        <input type="password" name="password" class="form-control" id="validationDefault02"
               placeholder="Insert password" ngModel required>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">LOG IN</button>
  </form>
</div>
